<script type="text/html" id="properties-template">
    <div class="row">
        <div class="col-xs-12">
            <div class="padHeader" style="padding-bottom: 0">
                <span class="leadLarger" data-bind="html:FormId"></span>
                <span class="leadSmaller" data-bind="html: Title"></span><span class="leadSmaller">, v</span><span class="leadSmaller" data-bind="html: Version"></span>                
                
                <div class="pull-right padRight">
                    <a target="_blank" title="Preview Form" class="padRight glyphicon glyphicon-eye-open" style="margin-top:14px;" data-bind="attr:{ href: PreviewFormUrl() }"></a>
                    <a target="_blank" class="glyphicon glyphicon-question-sign" title="Help" href="@Url.Action("Help")"></a>
                </div>
            </div>
            <div class="leadSmaller">
                <span data-bind="html: Description"></span>
            </div>
            <br />
            <div class="leadSmaller">
                <span>Submission Mode:</span>
                <span data-bind="html: SubmissionMode"></span>
            </div>
            <div class="leadSmaller">
                <span>Categories:</span>
                <span data-bind="foreach: Associations">
                    <span data-bind="html: Name"></span>
                </span>
            </div>
            <div class="leadSmaller">
                <span>Applications:</span>
                <span data-bind="foreach: Applications">
                    <span data-bind="html: Name, visible: IsSelected"></span>
                </span>
                <a href="#" title="Update Association" class="glyphicon glyphicon-edit padLeft" data-bind="visible: CanDesignManage, click: updateApplications"></a>
            </div>
        </div>
    </div>
</script>
