@* RequestForm Details Page *@
@using StateInterface.Areas.Design.Models
@model StateInterface.Models.ResponseModel<RequestFormDetailsModel>
<div class="row">
    <div class="col-xs-12">
        @* This is so that the navigation lines up when the recordsCenterSelector is not part of the page *@
        <div class="recordsCenterSelectorPlaceHolder"></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div data-bind="template: { name: 'breadcrumbs-template' }"></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="padLeft padRight">
            <div data-bind="template: { name: 'properties-template' }"></div>
            <div data-bind="template: { name: 'fields-template' }"></div>
            <div data-bind="template: { name: 'transactions-template' }"></div>
        </div>
    </div>
</div>

<div class="modal fade" data-bind="bootstrapShowModal: applicationAssociationModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal" aria-hidden="true">×</a>
                <h3>Application Association <span data-bind="html: FormId"></span></h3>
            </div>
            <form role="form">
                <div class="modal-body">
                    <p class="leadSmaller">Please select the applications that use this form</p>
                    <table class="fullWidthTable">
                        <tr class="bold leadSmaller" data-bind="foreach: ApplicationsForEdit">
                            <td>
                                <span><input type="checkbox" data-bind="checked: IsSelected"></span>
                                <span data-bind="html: Name"></span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn btn-primary" data-bind="click: saveApplications">Save</a>
                    <a class="btn btn-default" data-dismiss="modal">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" data-bind="bootstrapShowModal: categoryAssociationModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal" aria-hidden="true">×</a>
                <h3>Category Association<span data-bind="html: FormId"></span></h3>
            </div>
            <form role="form">
                <div class="modal-body">
                    <p class="leadSmaller">Please select the categories that apply to this form</p>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-6" data-bind="foreach: CategoriesForEdit.slice(0, categoriesItemsSplit())">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span><input type="checkbox" data-bind="checked: IsSelected"></span>
                                            <span data-bind="html: Name"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6" data-bind="foreach: CategoriesForEdit.slice(categoriesItemsSplit())">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span><input type="checkbox" data-bind="checked: IsSelected"></span>
                                            <span data-bind="html: Name"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn btn-primary" data-bind="click: saveCategories">Save</a>
                    <a class="btn btn-default" data-dismiss="modal">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/html" id="breadcrumbs-template">
    <ol class="breadcrumb">
        <li><a data-bind="attr: { href: DesignHomeUrl }, html: RecordsCenterName"></a></li>
        <li><a data-bind="attr: { href: FormsHomeUrl }">Forms</a></li>
        <li class="active"><span data-bind="html: FormId"></span></li>
    </ol>
</script>

<script type="text/html" id="properties-template">
    <div class="row">
        <div class="col-xs-12">
            <div>
                <span class="leadLarger" data-bind="html:FormId"></span>
                <div class="leadSmaller inlineBlock">
                    <span data-bind="html: Title"></span>
                    <span>, v</span>
                    <span data-bind="html: Version"></span>
                </div>
                <div class="pull-right">
                    <a target="_blank" title="Preview Form" class="padRight glyphicon glyphicon-eye-open" data-bind="attr:{ href: PreviewFormUrl() }"></a>
                    <a target="_blank" class="glyphicon glyphicon-question-sign" title="Help" data-bind="attr: { href: FormHelpUrl }"></a>
                </div>
            </div>
            <div class="leadSmaller">
                <div data-bind="html: Description"></div>
                <div>
                    <span>Last Updated on</span>
                    <span data-bind="html: LastUpdated"></span>
                </div>
                <br />
                <div>
                    <span class="labelColor">Submission Mode</span>
                    <span class="padLeft" data-bind="html: SubmissionMode"></span>
                </div>
                <div>
                    <span class="labelColor">Categories</span>
                    <span class="padLeft">
                        <span data-bind="foreach: Categories">
                            <span data-bind="html: Name, visible: IsSelected"></span>
                        </span>
                        <span data-bind="visible: !areSelectedCategories()">Uncategorized</span>
                        <a href="#" title="Update Category Association" class="glyphicon glyphicon-edit padLeft" data-bind="visible: CanDesignManage, click: updateCategories"></a>

                    </span>
                </div>
                <div>
                    <span class="labelColor">Applications</span>
                    <span class="padLeft">
                        <span data-bind="foreach: Applications">
                            <span data-bind="html: Name, visible: IsSelected"></span>
                        </span>
                        <a href="#" title="Update Association" class="glyphicon glyphicon-edit padLeft" data-bind="visible: CanDesignManage, click: updateApplications"></a>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="fields-template">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel-group" data-bind="attr: { id: 'accordian_fields' }">
                <h2 class="pull-left">
                    <a class="pull-left glyphicon glyphicon-collapse-down" style="margin-top: 5px" data-toggle="collapse" data-bind="attr:{ 'data-parent': 'accordian_fields', href: '#collapse_fields' }"></a>
                    <span>&nbsp;Fields</span>
                </h2>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel-collapse collapse in" data-bind="attr: { id: 'collapse_fields' }">
                        <table class="fullWidthTable">
                            <thead>
                                <tr class="fieldPropertiesTableHeader">
                                    <th></th>
                                    <th>
                                        <span class="fieldPropertiesColumnHeader">Type</span>
                                    </th>
                                    <th>
                                        <span class="fieldPropertiesColumnHeader">Length</span>
                                    </th>
                                    <th>
                                        <span class="fieldPropertiesColumnHeader">Frequency</span>
                                    </th>
                                    <th>
                                        <span class="fieldPropertiesColumnHeader">Separator</span>
                                    </th>
                                    <th>
                                        <span class="fieldPropertiesColumnHeader">Prefix</span>
                                    </th>
                                    <th>
                                        <span class="fieldPropertiesColumnHeader">Suffix</span>
                                    </th>
                                    <th>
                                        <span class="fieldPropertiesColumnHeader">Value</span>
                                    </th>
                                </tr>
                                <tr style="height:10px"></tr>
                            </thead>
                            <tbody style="vertical-align: top" data-bind="foreach: FormFields">
                                <tr class="propertiesRow">
                                    <td>
                                        <div>
                                            <a data-bind="attr: { href: FieldDetailsUrl }">
                                                <span class="formFieldName" data-bind="html: Name"></span>
                                            </a>
                                            <span class="formFieldTooltip" data-bind="html: Tooltip"></span>
                                            <div class="additionalFieldDetails" data-bind="visible: OptionListName().length > 0">
                                                <a data-bind="attr: { href: ListDetailsUrl }">
                                                    <span data-bind="html: OptionListName"></span>
                                                </a>
                                            </div>
                                            <div class="additionalFieldDetails" data-bind="visible: IsHiddenField">
                                                <span>Hidden</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="fieldPropertiesContent" data-bind="html: Type"></span>
                                    </td>
                                    <td>
                                        <span class="fieldPropertiesContent" data-bind="html: Length"></span>
                                    </td>
                                    <td>
                                        <span class="fieldPropertiesContent" data-bind="html: Frequency"></span>
                                    </td>
                                    <td>
                                        <span class="fieldPropertiesContent" data-bind="html: Separator"></span>
                                    </td>
                                    <td>
                                        <span class="fieldPropertiesContent" data-bind="html: Prefix"></span>
                                    </td>
                                    <td>
                                        <span class="fieldPropertiesContent" data-bind="html: Suffix"></span>
                                    </td>
                                    <td>
                                        <span class="fieldPropertiesContent" data-bind="html: DefaultValue"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="transactions-template">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel-group" data-bind="attr: { id: 'accordian_transactions' }">
                <h2 class="pull-left">
                    <a class="pull-left glyphicon glyphicon-collapse-down" style="margin-top: 5px" data-toggle="collapse" data-bind="attr:{ 'data-parent': 'accordian_transactions', href: '#collapse_transactions' }"></a>
                    <span>&nbsp;Transactions</span>
                </h2>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel-collapse collapse in" data-bind="attr: { id: 'collapse_transactions' }">
                        <div class="panel-body padLeft">
                            <div>
                                <div data-bind="foreach: Transactions">
                                    <h3 data-bind="html: Name"></h3>
                                    <div data-bind="foreach: TxNodes">
                                        <span class="transactionNode inlineBlock" data-bind="css: { fieldNode: IsField, textNode: !IsField() }">
                                            <span class="leadSmaller" data-bind="html: DisplayValue"></span>
                                        </span>
                                    </div>
                                    <div data-bind="template: { name: 'criteria-template' }"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="criteria-template">
    <div class="row">
        <div class="col-xs-12">
            <div class="padLeft" data-bind="foreach: Criteria">
                <h4 data-bind="html: Name"></h4>
                <div class="padLeft">
                    <table>
                        <tbody>
                            <tr>
                                <td style="vertical-align: top" class="padBottom">
                                    <span class="leadSmaller labelColor">Required</span>
                                </td>
                                <td class="padBottom" data-bind="foreach: RequiredFields">
                                    <span class="leadSmaller padLeft" data-bind="html: Name"></span>
                                </td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: ConditionalFields().length > 0">
                            <tr>
                                <td style="vertical-align: top" class="padBottom">
                                    <span class="leadSmaller labelColor">Conditional</span>
                                </td>
                                <td class="padBottom" data-bind="foreach: ConditionalFields">
                                    <div class="inlineBlock leadSmaller">
                                        <span class="padLeft" data-bind="html: Name"></span>
                                        <span data-bind="html: Condition"></span>
                                        <span data-bind="html: CheckValue"></span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: OptionalFields().length > 0">
                            <tr>
                                <td style="vertical-align: top" class="padBottom">
                                    <span class="leadSmaller labelColor">Optional</span>
                                </td>
                                <td class="padBottom" data-bind="foreach: OptionalFields">
                                    <span class="leadSmaller padLeft" data-bind="html: Name"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/javascript">
    var initialData = @Html.Raw(Model.Result.InitialData)
</script>
@section scripts{
    @Scripts.Render("~/bundles/stateinterface_design_form_details")
}