<script type="text/html" id="statisticsHeader-template">
    <div class="row">
        <div class="col-xs-12">
            <div>
                <span class="record" data-bind="text: RecordsCenter.Name"></span>
                <span class="big-header"> - </span>
                <span class="big-header" data-bind="text: Statistics.TotalTestCases"></span>
                <span class="big-header"> test cases, </span>
                <span class="big-header" data-bind="text: Statistics.PercentVerified"></span>
                <span class="big-header"> verified, </span>
                <span class="big-header" data-bind="text: Statistics.PercentCertified"></span>
                <span class="big-header"> certified</span>
            </div>
        </div>
    </div>
</script>
