<script type="text/html" id="fieldsCatalogItem-template">
    <a target="_blank" data-bind="attr: { href: DetailsUrl } ">
        <span class="formLink" data-bind="html: TagName"></span>
        <span class="leadSmaller" data-bind="html: ToolTip"></span>
    </a>
    <br />
</script>