@model StateInterface.Areas.Design.Models.FieldDetailsModel
<div class="row">
    <div class="col-xs-12">
        @* This is so that the navigation lines up when the recordsCenterSelector is not part of the page *@
        <div class="recordsCenterSelectorPlaceHolder"></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ol class="breadcrumb">
            <li><a data-bind="attr: { href: DesignHomeUrl }">Design</a></li>
            <li><a data-bind="attr: { href: FieldsHomeUrl }">Fields</a></li>
            <li class="active"><span data-bind="html: TagName"></span></li>
        </ol>
        <div data-bind="template: { name: 'field-template' }"></div>
    </div>
</div>

<script type="text/javascript">
    var initialData = @Html.Raw(Model.InitialData)
</script>
@Html.Partial("_fieldTemplate")

@section scripts{
    @Scripts.Render("~/bundles/stateinterface_design_field_Details")
}