@model StateInterface.Areas.Design.Models.FieldCatalogModel
<div class="row">
    <div class="col-xs-12">
        <div class="pull-right padRight leadSmaller">
            <span class="padRight">Records Center</span><select data-bind="options: RecordsCenterSelector.RecordsCenters, optionsText: 'Name', optionsValue: 'Name', value: RecordsCenterSelector.SelectedRecordsCenterName"></select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="pull-left"><h2 class="padLeft">@ViewBag.Title</h2></div>
        <div class="pull-left padLeft" style="margin-top:15px;"><div class="loading" data-bind="visible: fieldsAreLoading"></div></div>
    </div>
</div>
<div data-bind="template: { name: 'noFieldsFound-template' }"></div>
<div class="row">
    <div class="col-xs-12">
        <div data-bind="template: { name: 'fieldsCatalog-template' }"></div>
    </div>
</div>
<script type="text/html" id="noFieldsFound-template">
    <div class="row" data-bind="if: showNoFieldsFound() === true">
        <div class="col-xs-12">
            <h2 class="text-center text-danger">No fields were found in this Records Center</h2>
        </div>
    </div>
</script>

<script type="text/javascript">
    var initialData = @Html.Raw(Model.InitialData)
</script>
@Html.Partial("_fieldsCatalogTemplate")

@section scripts{
    @Scripts.Render("~/bundles/stateinterface_design_field")
}