<div class="modal fade" data-bind="bootstrapShowModal: snippetModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal" aria-hidden="true">×</a>
                <h3>New Transaction<span class="lead"></span></h3>
            </div>
            <form role="form">
                <div class="modal-body">                    
                    <div class="form-group">
                        <label>Name</label>                            
                        <input autofocus class="fieldInputMedium" type="text" maxlength="50" data-bind="value: SnippetParameter.Name, css: {error: SnippetParameter.Name.hasError}, valueUpdate:'afterkeydown'">
                        <span data-bind="visible: SnippetParameter.Name.hasError, text: SnippetParameter.Name.validationMessage" class="errorMessage"></span>
                    </div>                   
                    <div class="form-group">
                        <label>Description</label>                            
                        <textarea class="fieldInputMedium" rows="3" maxlength="100" data-bind="value: SnippetParameter.Description, css: {error: SnippetParameter.Description.hasError}, valueUpdate:'afterkeydown'"></textarea>
                        <span data-bind="visible: SnippetParameter.Description.hasError, text: SnippetParameter.Description.validationMessage" class="errorMessage"></span>
                    </div>                    
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn btn-primary" data-bind="click: createSnippet, css: {linkDisabled: isSnippetError}">Save</a>
                    <a class="btn btn-default" data-dismiss="modal">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
