<script type="text/html" id="snippetList-template">
    <div class="row">
        <div class="col-xs-12">
            <br />
            <div class="padLeft" data-bind="foreach: TransactionSnippets">
                <a data-bind="attr: { href: SnippetDetailsUrl } ">
                    <span class="formLink" data-bind="html: TokenName, attr: { Title: Description } "></span>
                    <span class="leadSmaller" data-bind="html: Description"></span>
                </a>
                <br />
            </div>
        </div>
    </div>
</script>