@* TransactionSnippet Details Page *@
@model StateInterface.Areas.Design.Models.TransactionSnippetModel
<div class="row">
    <div class="col-xs-12">
        @* This is so that the navigation lines up when the recordsCenterSelector is not part of the page *@
        <div class="recordsCenterSelectorPlaceHolder"></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ol class="breadcrumb">
            <li><a data-bind="attr: { href: DesignHomeUrl }">Design</a></li>
            <li><a data-bind="attr: { href: TransactionsHomeUrl }">Transactions</a></li>
            <li class="active"><span data-bind="html: TokenName"></span></li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="padLeft">
            <div data-bind="template: { name: 'snippetProperties-template' }"></div>
            <div data-bind="template: { name: 'snippetField-template' }"></div>
        </div>
    </div>
</div>

<div class="modal fade" data-bind="bootstrapShowModal: snippetPropertiesModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal" aria-hidden="true">×</a>
                <h3>Transaction Properties <span class="lead" data-bind="html: SnippetForEdit.Name"></span></h3>
            </div>
            <form role="form">
                <div class="modal-body">
                    <div class="form-group">
                        <div>
                            <span data-bind="visible: snippetNameWarning, text: 'Warning: Changing Transaction Name may break forms that are using this transaction!'" class="errorMessage"></span>
                        </div>
                        <label>Name</label>
                        <input autofocus class="fieldInputMedium" type="text" maxlength="50" data-bind="value: SnippetForEdit.Name, css: {error: SnippetForEdit.Name.hasError}, valueUpdate:'afterkeydown'">
                        <span data-bind="visible: SnippetForEdit.Name.hasError, text: SnippetForEdit.Name.validationMessage" class="errorMessage"></span>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input class="fieldInputMedium" type="text" maxlength="100" data-bind="value: SnippetForEdit.Description, css: {error: SnippetForEdit.Description.hasError}, valueUpdate:'afterkeydown'">
                        <span data-bind="visible: SnippetForEdit.Description.hasError, text: SnippetForEdit.Description.validationMessage" class="errorMessage"></span>
                    </div>
                    <div class="form-group">
                        <label>Definition</label>
                        <textarea class="fieldInputMedium" rows="3" maxlength="2000" data-bind="value: SnippetForEdit.Definition"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Criteria</label>
                        <textarea class="fieldInputMedium" rows="3" maxlength="512" data-bind="value: SnippetForEdit.Criteria"></textarea>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" data-bind="checked: SnippetForEdit.IncludePrefixAndSuffix"> Include Prefix And Suffix</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn btn-primary" data-bind="click: updateSnippet, css: {linkDisabled: isSnippetError}">Save</a>
                    <a class="btn btn-default" data-dismiss="modal">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" data-bind="bootstrapShowModal: snippetFieldModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal" aria-hidden="true">×</a>
                <h3>Transaction Field <span class="lead" data-bind="html: SelectedField.TagName"></span></h3>
            </div>
            <form role="form">
                <div class="modal-body">
                    <div class="form-group">
                        <div>
                            <span data-bind="visible: fieldNameWarning, text: 'Warning: Changing Tag Name may break the transaction!'" class="errorMessage"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Type</label>
                                <select autofocus class="fieldInput padSelect" data-bind="options: AvailableTypes, optionsText: 'Value', optionsValue: 'Key', value: SelectedField.Field"></select>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Tag Name</label>
                                <div>
                                    <input class="fieldInput" type="text" maxlength="50" data-bind="value: SelectedField.TagName, css: {error: SelectedField.TagName.hasError}, valueUpdate:'afterkeydown'">
                                    <span class="errorMessage">*</span>
                                </div>
                                <div>
                                    <span data-bind="visible: SelectedField.TagName.hasError, text: SelectedField.TagName.validationMessage" class="errorMessage"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Prefix</label>
                                <input class="fieldInput" type="text" maxlength="250" data-bind="value: SelectedField.Prefix">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Suffix</label>
                                <input class="fieldInput" type="text" maxlength="250" data-bind="value: SelectedField.Suffix">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Tool Tip</label>
                                <input class="fieldInput" type="text" maxlength="100" data-bind="value: SelectedField.ToolTip">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label data-bind="visible: isLength">Length</label>
                                <input class="fieldInput" type="text" data-bind="visible: isLength, value: SelectedField.Length, css: {error: SelectedField.Length.hasError}, valueUpdate:'afterkeydown'">
                                <div>
                                    <span data-bind="visible: SelectedField.Length.hasError, text: SelectedField.Length.validationMessage" class="errorMessage"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label data-bind="visible: isFrequency">Frequency</label>
                                <input class="fieldInput" type="text" data-bind="visible: isFrequency, value: SelectedField.Frequency, css: {error: SelectedField.Frequency.hasError}, valueUpdate:'afterkeydown'">
                                <div>
                                    <span data-bind="visible: SelectedField.Frequency.hasError, text: SelectedField.Frequency.validationMessage" class="errorMessage"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label data-bind="visible: isSeparator">Separator</label>
                                <input class="fieldInput" type="text" maxlength="5" data-bind="visible: isSeparator, value: SelectedField.Separator">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label data-bind="visible: isPad">Pad Character Decimal</label>
                                <input class="fieldInput" type="text" data-bind="visible: isPad, value: SelectedField.PadCharacterDec, css: {error: SelectedField.PadCharacterDec.hasError}, valueUpdate:'afterkeydown'">
                                <div>
                                    <span data-bind="visible: SelectedField.PadCharacterDec.hasError, text: SelectedField.PadCharacterDec.validationMessage" class="errorMessage"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label data-bind="visible: isTrimInput">Trim Input To Length</label>
                                <input class="fieldInput" type="text" data-bind="visible: isTrimInput, value: SelectedField.TrimInputToLength, css: {error: SelectedField.TrimInputToLength.hasError}, valueUpdate:'afterkeydown'">
                                <div>
                                    <span data-bind="visible: SelectedField.TrimInputToLength.hasError, text: SelectedField.TrimInputToLength.validationMessage" class="errorMessage"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label data-bind="visible: isTransformLabel">Transform Format</label>
                                <div data-bind="if: isList">
                                    <select class="fieldInput padSelect" data-bind="options: AvailableOptions, optionsText: 'Value', optionsValue: 'Key', value: SelectedField.TransformFormat, optionsAfterRender: setSelectedOption"></select>
                                </div>
                                <div data-bind="ifnot: isList">
                                    <input class="fieldInput" type="text" maxlength="50" data-bind="visible: isTransform, value: SelectedField.TransformFormat">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label data-bind="visible: isDefaultValue">Default Value</label>
                                <input class="fieldInput" type="text" maxlength="50" data-bind="visible: isDefaultValue, value: SelectedField.DefaultValue">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="checkbox">
                                <label data-bind="visible: isCarriageReturn">
                                    <input type="checkbox" data-bind="visible: isCarriageReturn, checked: SelectedField.AcceptCarriageReturns"> Accept carriage returns
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="checkbox">
                                <label data-bind="visible: isUpper">
                                    <input type="checkbox" data-bind="visible: isUpper, checked: SelectedField.MakeUpperCase"> Use Upper Case
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn btn-primary" data-bind="click: updateSnippetField, css: {linkDisabled: isSnippetFieldError}">Save</a>
                    <a class="btn btn-default" data-dismiss="modal">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" data-bind="bootstrapShowModal: confirmDeleteModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal" aria-hidden="true">×</a>
                <h4 class="modal-title">Confirm Delete</h4>
            </div>
            <form role="form">
                <div class="modal-body">
                    <h4>Are you sure you want to delete field <span class="lead" data-bind="html: SelectedField.TagName"></span> ?</h4>
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn btn-primary" data-bind="click: deleteSnippetField">Yes</a>
                    <a class="btn btn-default" data-dismiss="modal">No</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/html" id="snippetProperties-template">
    <div class="row">
        <div class="col-xs-12">
            <div class="padTop">
                <div>
                    <span class="leadSmaller" data-bind="html: RecordsCenterName"></span>
                </div>
                <span class="leadLarger" data-bind="html:TokenName"></span>
                <a href="#" data-bind="visible: CanDesignManage, click: editSnippet" class="glyphicon glyphicon-edit padLeft" title="Edit Transaction Properties"></a>
                <div class="pull-right padRight">
                    <a target="_blank" class="glyphicon glyphicon-question-sign" title="Help" data-bind="attr: { href: SnippetHelpUrl }"></a>
                </div>
            </div>
            <div><span class="leadSmaller" data-bind="html: Description"></span></div>
            <br />
            <div class="leadSmaller">
                <span>Definition: </span>
                <span data-bind="html: TransactionDefinition"></span>
            </div>
            <div class="leadSmaller">
                <span>Criteria: </span>
                <span data-bind="html: Criteria"></span>
            </div>
            <div class="leadSmaller">
                <span>Include Prefix and Suffix: </span>
                <span data-bind="html: IncludePrefixAndSuffix"></span>
            </div>
            <div class="leadSmaller">
                <span>Created: </span>
                <span data-bind="html: Created">/</span>
            </div>
            <div class="leadSmaller">
                <span>Updated: </span>
                <span data-bind="html: Updated"></span>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="snippetField-template">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="pull-left">
                <span>Fields</span>
                <a href="#" data-bind="visible: $root.CanDesignManage, click: addField" class="glyphicon glyphicon-plus-sign padLeft" title="Add Field"></a>
            </h2>
            <div class="row">
                <div class="col-xs-12">
                    <table class="fullWidthTable">
                        <thead>
                            <tr class="fieldPropertiesTableHeader">
                                <td></td>
                                <th>
                                    <span class="fieldPropertiesColumnHeader">Type</span>
                                </th>
                                <th>
                                    <span class="fieldPropertiesColumnHeader">Length</span>
                                </th>
                                <th>
                                    <span class="fieldPropertiesColumnHeader">Frequency</span>
                                </th>
                                <th>
                                    <span class="fieldPropertiesColumnHeader">Separator</span>
                                </th>
                                <th>
                                    <span class="fieldPropertiesColumnHeader">Prefix</span>
                                </th>
                                <th>
                                    <span class="fieldPropertiesColumnHeader">Suffix</span>
                                </th>
                                <th>
                                    <span class="fieldPropertiesColumnHeader">Value</span>
                                </th>
                                <th>
                                    <span class="fieldPropertiesColumnHeader">Upper</span>
                                </th>
                                <th>
                                    <span class="fieldPropertiesColumnHeader">PadChar</span>
                                </th>
                                <th>
                                    <span class="fieldPropertiesColumnHeader">Trim</span>
                                </th>
                                <td></td>
                            </tr>
                            <tr style="height:10px"></tr>
                        </thead>
                        <tbody data-bind="foreach: TransactionSnippetFields">
                            <tr class="propertiesRow" style="vertical-align:top">
                                <td>
                                    <div>
                                        <span class="formFieldName" data-bind="html: TagName"></span>
                                        <span class="formFieldTooltip" data-bind="html: ToolTip"></span>
                                        <div class="additionalFieldDetails" data-bind="html:TransformFormat"></div>
                                    </div>
                                </td>
                                <td>
                                    <span class="fieldPropertiesContent" data-bind="html: Field"></span>
                                </td>
                                <td>
                                    <span class="fieldPropertiesContent" data-bind="html: Length"></span>
                                </td>
                                <td>
                                    <span class="fieldPropertiesContent" data-bind="html: Frequency"></span>
                                </td>
                                <td>
                                    <span class="fieldPropertiesContent" data-bind="html: Separator"></span>
                                </td>
                                <td>
                                    <span class="fieldPropertiesContent" data-bind="html: Prefix"></span>
                                </td>
                                <td>
                                    <span class="fieldPropertiesContent" data-bind="html: Suffix"></span>
                                </td>
                                <td>
                                    <span class="fieldPropertiesContent" data-bind="html: DefaultValue"></span>
                                </td>
                                <td>
                                    <span class="fieldPropertiesContent" data-bind="html: MakeUpperCase"></span>
                                </td>
                                <td>
                                    <span class="fieldPropertiesContent" data-bind="html: PadCharacterDec"></span>
                                </td>
                                <td>
                                    <span class="fieldPropertiesContent" data-bind="html: TrimInputToLength"></span>
                                </td>
                                <td>
                                    <div>
                                        <a href="#" data-bind="visible: $root.CanDesignManage, click: $parent.editField" class="glyphicon glyphicon-edit padHeaderSmall" title="Edit Field"></a>
                                        <a href="#" data-bind="visible: $root.CanDesignManage, click: $parent.deleteField" class="glyphicon glyphicon-remove-circle padHeaderSmall" title="Delete Field"></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/javascript">
    var initialData = @Html.Raw(Model.InitialData)
</script>
@section scripts{
    @Scripts.Render("~/bundles/stateinterface_design_snippetfield")
}