@* TransactionSnippet Help Page *@
<div>
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-left"><h2 class="padLeft">State Interface Transaction Snippet Help</h2></div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12">
            <p class="lead bold padLeft">
                General
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p class="padLeft">
                A transaction snippet is an expression of a transaction criteria and its related fields.
            </p>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-xs-12">
            <p class="lead bold padLeft">
                Criteria
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p class="padLeft">
                Criteria is a proprietary expression used to validate and shape the transaction.
            </p>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12">
            <p class="lead bold padLeft">
                Fields
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p class="padLeft">
                Each field validates its input based on the field type. Validation errors are indicated by a red border and a message under it.
                Required fields are indicated by an asterisk.
            </p>
        </div>
    </div>
</div>
