@* TransactionSnippet Index Page *@
@using StateInterface.Areas.Design.Models
@model StateInterface.Models.ResponseModel<TransactionSnippetCatalogModel>
<div class="row">
    <div class="col-xs-12">
        <div class="pull-right padRight leadSmaller">
            <span class="padRight">Records Center</span><select data-bind="options: RecordsCenterSelector.RecordsCenters, optionsText: 'Name', optionsValue: 'Name', value: RecordsCenterSelector.SelectedRecordsCenterName"></select>
        </div>
    </div>
</div>
<br data-bind="visible: services.isError"/>
<div class="row">
    <div class="col-xs-12">
        <div class="alert alert-danger" data-bind="visible: services.isError">
            <a href="#" class="close" onclick="$('.alert').hide()">&times;</a>
            <span data-bind="html: services.errorMessage"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div data-bind="template: { name: 'breadcrumbs-template' }"></div>
        <div class="inlineBlock">
            <span class="padLeft leadLarger">Transactions Design</span>
            <a title="Add Transaction" href="#" data-bind="visible: CanDesignManage, click: addSnippet">
                <span class="glyphicon glyphicon-plus-sign padLeft"></span>
            </a>
            <span class="loading inlineBlock padLeft" data-bind="visible: snippetsAreLoading"></span>
        </div>
    </div>
</div>
<div data-bind="template: { name: 'noSnippetFound-template' }"></div>
<div class="row">
    <div class="col-xs-12">
        <div data-bind="template: { name: 'catalogItems-template' }"></div>
    </div>
</div>

<div class="modal fade" data-bind="bootstrapShowModal: snippetModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal" aria-hidden="true">×</a>
                <h3>New Transaction<span class="lead"></span></h3>
            </div>
            <form role="form">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input autofocus class="fieldInputMedium" type="text" maxlength="50" data-bind="value: SnippetParameters.Name, css: {error: SnippetParameters.Name.hasError}, valueUpdate:'afterkeydown'">
                        <span data-bind="visible: SnippetParameters.Name.hasError, text: SnippetParameters.Name.validationMessage" class="errorMessage"></span>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="fieldInputMedium" rows="3" maxlength="100" data-bind="value: SnippetParameters.Description, css: {error: SnippetParameters.Description.hasError}, valueUpdate:'afterkeydown'"></textarea>
                        <span data-bind="visible: SnippetParameters.Description.hasError, text: SnippetParameters.Description.validationMessage" class="errorMessage"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn btn-primary" data-bind="click: createSnippet, css: {linkDisabled: isSnippetError}">Save</a>
                    <a class="btn btn-default" data-dismiss="modal">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/html" id="breadcrumbs-template">
    <ol class="breadcrumb">
        <li><a data-bind="attr: { href: DesignHomeUrl }, html: RecordsCenterSelector.SelectedRecordsCenterName"></a></li>
        <li class="active">Transactions</li>
    </ol>
</script>

<script type="text/html" id="noSnippetFound-template">
    <div class="row" data-bind="visible: showNoSnippetFound()">
        <div class="col-xs-12">
            <br />
            <br />
            <h2 class="text-center text-danger">No transaction snippets were found for this Records Center</h2>
        </div>
    </div>
</script>

@Html.Partial("_catalogItemsTemplate")

<script type="text/javascript">
    var initialData = @Html.Raw(Model.Result.InitialData)
</script>
@section scripts{
    @Scripts.Render("~/bundles/stateinterface_design_snippet")
}