<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="~/Unauthorized.html" xdt:Transform="Replace">
      <error statusCode="401" redirect="~/home/Unauthorized" />
      <error statusCode="404" redirect="~/home/NotFound" />
      <error statusCode="500" redirect="~/home/Error" />
    </customErrors>
  </system.web>

  <applicationSettings>
    <StateInterface.Designer.Repository.Properties.Settings  xdt:Transform="Replace">
      <setting name="ConnectionString" serializeAs="String">
        <value>Data Source=.;Initial Catalog=ISISDesigner;Integrated Security=True</value>
      </setting>
    </StateInterface.Designer.Repository.Properties.Settings>
  </applicationSettings>

</configuration>