<script type="text/html" id="optionListItem-template">
    <div class="row">
        <div class="col-xs-12">           
            <span class="leadSmaller" style="font-weight: bold" data-bind="html: Code"></span>
            <span class="leadSmaller" data-bind="html: Description"></span>
            <br />
            <div class="col-xs-12" data-bind="foreach: OptionListItems">
                <div data-bind="template: { name: 'optionListItem-template' }"></div>
            </div>
        </div>
    </div>
</script>