@* List Details Page *@
@model StateInterface.Areas.Design.Models.OptionListDetailsModel
<div class="row">
    <div class="col-xs-12">
        @* This is so that the navigation lines up when the recordsCenterSelector is not part of the page *@
        <div class="recordsCenterSelectorPlaceHolder"></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div data-bind="template: { name: 'breadcrumbs-template' }"></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="padLeft padRight">
            <div data-bind="template: { name: 'optionListProperties-template' }"></div>
            <div data-bind="foreach: OptionListItems">
                <div data-bind="template: { name: 'optionListItem-template' }"></div>
                <div data-bind="if: (OptionListItems.length > 0)">
                    <div class="padBottom"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="breadcrumbs-template">
    <ol class="breadcrumb">
        <li><a data-bind="attr: { href: DesignHomeUrl }, html: RecordsCenterName"></a></li>
        <li><a data-bind="attr: { href: ListsHomeUrl }">Lists</a></li>
        <li class="active"><span data-bind="html: ListName"></span></li>
    </ol>
</script>

<script type="text/html" id="optionListProperties-template">
    <div class="row">
        <div class="col-xs-12">
            <div>
                <span class="leadLarger" data-bind="html:ListName"></span>
                <div class="pull-right">
                    <a target="_blank" class="glyphicon glyphicon-question-sign" title="Help" data-bind="attr: { href: ListHelpUrl }"></a>
                </div>
            </div>
            <div class="leadSmaller">
                <span class="labelColor">Tiers</span>
                <span class="padLeft" data-bind="foreach: OptionListTiers">
                    <span data-bind="html: Name"></span>
                </span>
            </div>
            <div class="leadSmaller">
                <div>
                    <span>Last Updated on</span>
                    <span data-bind="html: LastUpdated"></span>
                </div>
                <br />
                <div class="labelColor">FORM (FIELD) using this List</div>
                <div data-bind="foreach: FormFieldsUsing">
                    <div class="inlineBlock padRight">
                        <a data-bind="attr: { href: FormDetailsUrl }">
                            <span data-bind="html: RequestFormName"></span>
                        </a>
                        <span>
                            (<span data-bind="html: FormFieldName"></span>)
                        </span>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="optionListItem-template">
    <div class="row">
        <div class="col-xs-12">
            <span class="leadSmaller bold" data-bind="html: Code"></span>
            <span class="leadSmaller" data-bind="html: Description"></span>
            <br />
            <div class="col-xs-12" data-bind="foreach: OptionListItems">
                <div data-bind="template: { name: 'optionListItem-template' }"></div>
            </div>
        </div>
    </div>
</script>

<script type="text/javascript">
    var initialData = @Html.Raw(Model.InitialData)
</script>
@section scripts{
    @Scripts.Render("~/bundles/stateinterface_design_list_details")
}
