@model StateInterface.Areas.Design.Models.OptionListModel
<div class="row">
    <div class="col-xs-12">
        @* This is so that the navigation lines up when the recordsCenterSelector is not part of the page *@
        <div class="recordsCenterSelectorPlaceHolder"></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ol class="breadcrumb">
            <li><a data-bind="attr: { href: DesignHomeUrl }">Design</a></li>
            <li><a data-bind="attr: { href: ListsHomeUrl }">Lists</a></li>
            <li class="active"><span data-bind="html: ListName"></span></li>
        </ol>
        <div data-bind="template: { name: 'optionListProperties-template' }"></div>
        <div class="leadSmaller">
            <div data-bind="foreach: OptionListItems">
                <div data-bind="template: { name: 'optionListItem-template' }"></div>
                <div data-bind="if: (OptionListItems.length > 0)">
                    <div class="padBottom"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var initialData = @Html.Raw(Model.InitialData)
</script>

@Html.Partial("_optionListPropertiesTemplate")
@Html.Partial("_optionListItemTemplate")
@section scripts{
    @Scripts.Render("~/bundles/stateinterface_design_list_details")
}
