<script type="text/html" id="requestForm-template">
    <div>
        <div class="row">
            <div class="col-xs-12">
                <p class="padLeft">
                    <span class="lead" data-bind="html: FormId"></span><br />
                    <span data-bind="html: Title"></span><br />
                </p>
                @*<div data-bind="foreach: Categories">
                        <div class="row" style="margin-bottom: 5px;">
                            <div class="col-xs-10">
                                <div class="padLeft">
                                    <p>
                                        <a data-bind="text: Code"></a><br />
                                        <span data-bind="text: Name"></span><br />
                                        <span data-bind="text: Description"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
</script>
