@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-xs-12">
        <h2 class="padLeft">SunGard Public Sector State Interface</h2>
    </div>
</div>
<br />
<div class="row">
    <div class="col-xs-4">
        <p class="text-center">
            <a title="Design" href="@Url.Action("Index", "Design")" class="dashboardIcon glyphicon glyphicon-cog glyphicon-white"></a><br /><br /><span class="lead">Design</span>
        </p>
    </div>
    <div class="col-xs-4">
        <p class="text-center">
            <a title="Design" href="@Url.Action("Index", "Certify")" class="dashboardIcon glyphicon glyphicon-ok glyphicon-white"></a><br /><br /><span class="lead">Certify</span>
        </p>
    </div>
    <div class="col-xs-4">
        <p class="text-center">
            <a title="Connect" href="@Url.Action("Index", "Connect")" class="dashboardIcon glyphicon glyphicon-link glyphicon-white"></a><br /><br /><span class="lead">Connect</span>
        </p>
    </div>
</div>
@*<br />
<br />
<div class="row">
    <div class="col-xs-6">
        <p class="text-center">
            <a title="Connect" href="@Url.Action("Index", "Connect")" class="dashboardIcon glyphicon glyphicon-link glyphicon-white"></a><br /><br /><span class="lead">Connect</span>
        </p>
    </div>
</div>*@