@* ConnectHome Index Page *@
@using StateInterface.Areas.Connect.Models
@model StateInterface.Models.ResponseModel<HomeModel>
@{
    ViewBag.Title = "Connect Home";
}
<div class="row padLeft">
    <div class="col-xs-12">
        <h2>Connect</h2>
    </div>
</div>
<script type="text/javascript">
    var initialData = @Html.Raw(Model.Result.InitialData)
</script>

@section scripts{
    @Scripts.Render("~/bundles/stateinterfaceconnecthome")
}