<script type="text/html" id="certifyRequestForms-template">
    <div class="row">
        <div class="col-xs-12">
            <div data-bind="foreach: Forms">
                <div class="panel-group" data-bind="attr:{ id: 'accordian_' + $parent.ApplicationName()+FormId()}">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="padLeft borderLight">
                                <a class="glyphicon glyphicon-collapse-down" style="margin-top:14px;" data-toggle="collapse" data-bind="attr:{ 'data-parent': 'accordian_' + $parent.ApplicationName()+FormId(), href: '#collapse_' + $parent.ApplicationName()+FormId()}">
                                </a>
                                <span class="lead bold" data-bind="html: FormId"></span><span class="lead padLeft" data-bind="html: Title"></span>
                                <span class="pull-right padRight">
                                    <a target="_blank" title="Update Form Certification" class="padRight glyphicon glyphicon-edit" style="margin-top:14px;" data-bind="attr:{ href: UpdateFormCertificationUrl}"></a>
                                    <a target="_blank" title="Form Details" class="padRight glyphicon glyphicon-file" style="margin-top:14px;" data-bind="attr:{ href: FormDetailsUrl}"></a>
                                    <a href="#" title="Toggle Test History" class="glyphicon glyphicon-tasks" style="margin-top:14px;" data-bind="click: $root.toggleTestHistory"></a>
                                </span>
                                <br />
                                <div class="row">
                                    <div class="col-xs-4">
                                        <span>Unit Tested</span>
                                    </div>
                                    <div class="col-xs-4">
                                        <span>Verified</span>
                                    </div>
                                    <div class="col-xs-4">
                                        <span>Certified</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" data-bind="style: { width: QAStatus.PercentUnitTested }">
                                                <span style="color:black;"><span data-bind="html: QAStatus.PercentUnitTested"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" data-bind="style: { width: QAStatus.PercentVerified }">
                                                <span style="color:black;"><span data-bind="html: QAStatus.PercentVerified"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="padRight">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" data-bind="style: { width: QAStatus.PercentCertified }">
                                                    <span style="color:black;"><span data-bind="html: QAStatus.PercentCertified"></span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-bind="attr:{ id: 'collapse_' + $parent.ApplicationName()+FormId()}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="borderLight-2">
                                    <div data-bind="template: { name: 'certifyCriteriaSansFields-template', foreach: Criteria }"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
