<script type="text/html" id="certifyUpdateRequestForm-template">
    <div class="padLeft padRight">
        <div class="padLeft borderLight">
            <span class="lead bold" data-bind="html: FormId"></span><span class="lead padLeft" data-bind="html: Title"></span>
            <span class="pull-right padRight">
                <a target="_blank" title="Form Details" class="padLeft padRight glyphicon glyphicon-file" style="margin-top:14px;" data-bind="attr:{ href: FormDetailsUrl}"></a>
                <a href="#" title="Toggle Test History" class="glyphicon glyphicon-tasks" style="margin-top:14px;" data-bind="click: $root.toggleTestHistory"></a>
            </span>
            <br />
            <div class="row">
                <div class="col-xs-4">
                    <span>Unit Tested</span>
                </div>
                <div class="col-xs-4">
                    <span>Verified</span>
                </div>
                <div class="col-xs-4">
                    <span>Certified</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" data-bind="style: { width: QAStatus.PercentUnitTested }">
                            <span style="color:black;"><span data-bind="html: QAStatus.PercentUnitTested"></span></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" data-bind="style: { width: QAStatus.PercentVerified }">
                            <span style="color:black;"><span data-bind="html: QAStatus.PercentVerified"></span></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="padRight">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" data-bind="style: { width: QAStatus.PercentCertified }">
                                <span style="color:black;"><span data-bind="html: QAStatus.PercentCertified"></span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div>
            <ul class="nav nav-tabs" role="tablist" data-bind="foreach: Applications" id="appTab">
                <li data-bind="css: { active: $index() == 0 }"><a class="leadSmaller bold" data-bind="attr:{ href: '#' + ApplicationName()}, html: ApplicationName" role="tab" data-toggle="tab"></a></li>
            </ul>
        </div>
        <div class="tab-content" data-bind="foreach: Applications">
            <div class="tab-pane" data-bind="attr:{ id: ApplicationName()}, css: { active: $index() == 0 }">
                <div data-bind="template: { name: 'certifyCriteria-template', foreach: Criteria }"></div>
            </div>
        </div>
    </div>
</script>
