<div class="modal fade" data-bind="bootstrapShowModal: queryUpdateTestCaseModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal" aria-hidden="true">×</a>
                <h3>Update Test Case <span data-bind="html: SelectedTestCase.TestCaseId"></span></h3>
            </div>
            <form role="form">
                <div class="modal-body">
                    <div data-bind="if: SelectedTestCase.HasPassed() === null">
                        <span class="stateInterfaceLead"><b><span></span>Reset Test Case</b></span>
                    </div>
                    <div data-bind="if: SelectedTestCase.HasPassed() === true" style="color:green">
                        <span class="stateInterfaceLead"><b><span data-bind="html: SelectedTestCase.CurrentStage"></span> Passed!</b></span>
                        <img class="pull-right" height="65" src="@Url.Content("~/Images/thumbsup.png")" />
                    </div>
                    <div data-bind="if: SelectedTestCase.HasPassed() === false" style="color:red">
                        <span class="stateInterfaceLead"><b><span data-bind="html: SelectedTestCase.CurrentStage"></span> Failed!</b></span>
                        <img class="pull-right" height="65" src="@Url.Content("~/Images/thumbsdown.png")" />
                    </div>
                    <br />
                    <div class="form-group">
                        <label>Note</label>
                        <textarea class="form-control" rows="5" data-bind="value: SelectedTestCase.Note" placeholder="Note"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn btn-primary" data-bind="click: $root.updateTestCase">Save</a>
                    <a class="btn btn-default" data-dismiss="modal">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
