<script type="text/html" id="testCaseSansFields-template">
    <div class="row">
        <div class="col-xs-11 col-xs-offset-1">
            <div class="">
                <div class="padHeaderSmall borderLight">
                    <b>
                        <span class="padLeft lead-2">
                            <span>Test Case</span>&nbsp;
                            <span data-bind="html: TestCaseId"></span>&nbsp;-&nbsp;
                            <span data-bind="html: CurrentStage"></span>&nbsp;
                            <span data-bind="if: HasPassed() === true">Passed</span>
                            <span data-bind="if: HasPassed() === false">Failed</span>
                            <span data-bind="if: HasPassed() === null">Pending</span>
                        </span>
                    </b>
                </div>
            </div>
            <div>
                <div data-bind="template: { name: 'testCaseHistoryTemplate-template'}"></div>
            </div>
        </div>
    </div>
    <br />
</script>