<script type="text/html" id="statisticsPrint-template">
    <div class="row">
        <div class="col-xs-12">
            <div data-bind="foreach: Applications">

                <br />
                <div>
                    <span class="application" data-bind="html: Name"></span>
                    <span class="medium-header">
                        <span>-</span>
                        <span data-bind="html: Statistics.TotalTestCases"></span>
                        <span>test cases,</span>
                        <span data-bind="html: Statistics.PercentVerified"></span>
                        <span>verified,</span>
                        <span data-bind="html: Statistics.PercentCertified"></span>
                        <span>certified</span>
                    </span>
                </div>
                <br />
                <div class="padLeft">
                    <div data-bind="template: { name: 'statisticsStatusCategory-template' }"></div>
                </div>
            </div>
        </div>
    </div>
</script>