@{
    ViewBag.Title = "Certify";
}
<div class="row">
    <div class="col-xs-12">
        <div class="pull-left"><h2 class="padLeft">State Interface Certification</h2></div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-xs-4 col-xs-offset-2">
        <p class="text-center">
            <a title="Update Certification" href="@Url.Action("Index", "Update")" class="dashboardIcon glyphicon glyphicon-flag glyphicon-white"></a><br /><br /><span class="lead">Update Certification</span>
        </p>
    </div>
    <div class="col-xs-4">
        <p class="text-center">
            <a title="Reports" href="@Url.Action("Index", "Report")" class="dashboardIcon glyphicon glyphicon-stats glyphicon-white"></a><br /><br /><span class="lead">Reports</span>
        </p>
    </div>
</div>

